<footer class="footer bg-dark py-3 mt-auto text-center">
  <div class="container">
    <span class="text-light mx-auto fw-bolder">&copy; Hype Camper by<a href="https://github.com/tiagocreator" target="_blank" rel="noreferrer" class="text-decoration-none ms-2"><i class="bi bi-github me-1"></i>tiagocreator</a></span>
  </div>
</footer>