<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-center justify-center fs-4" href="/">
      <img
        class="d-inline-block me-2"
        src="/public/imgs/logo.png"
        alt=""
        width="28"
        height="28" />Hype Camper
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain"
      aria-controls="navbarMain"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-6" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" href="/campgrounds">All Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </li>
        <% if(!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link fs-6" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" href="/register">Register</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link fs-6" href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
