<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
  <h4 class="alert-heading"><%= err.message %> </h4>
  <p>Sorry, I couldn't find the page you're looking for, you can use the navigation menu to return to the home page.</p>
  <hr>
  <p class="mb-0"><a class="btn btn-primary" href="/campgrounds">Return</a></p>
</div>
  </div>
</div>
