<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hype Camper</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/styles/home.css">
</head>
<body class="d-flex text-center text-white bg-dark vh-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <h1 class="navbar-brand fs-3" href="/campgrounds">Hype Camper</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>        
                <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    </li>
                    <% if(!currentUser) { %>
                    <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } %>
                </ul>
                </div>
            </div>
            </nav>
        </header>
        <main class="px-3">
            <h1 class="mb-4">Hype Camper</h1>
            <p class="lead">
                Welcome to Hype Camper! 
            <br>Jump right in and explore our many campgrounds.
            <br>Register an account to share a campground for free and review on others!
            </p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">
              View Campgrounds
            </a>
        </main>

        <footer class="mt-auto">
            <span class="text-light mx-auto fw-bolder">&copy; Hype Camper by<a href="https://github.com/tiagocreator" target="_blank" rel="noreferrer" class="text-decoration-none ms-2"><i class="bi bi-github me-1"></i>tiagocreator</a></span>
        </footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>