#index-map {
  width: 100%;
  height: 300px;
  margin: auto auto 40px auto;
}

@media (min-width: 991px) {
  #index-map {
    height: 450px;
  }
}

#map {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}
