#index-map {
  width: 100%;
  height: 300px;
  margin: auto auto 40px auto;
}

@media (min-width: 991px) {
  #index-map {
    height: 450px;
  }
}

#map {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}

.limit-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (min-width: 991px) {
  .limit-text {
    -webkit-line-clamp: 6;
  }
}
